.btn-buy{
  padding:0.75rem 1.5rem;
  border-radius:6px;
  cursor:pointer;
  margin-left:1rem;
  font-weight:bold;
  border:none;
  background-color:#22d3ee;
  color:#333;
  transition:0.3s;
}
.btn-buy:hover{background-color:#1fb8d3;}
