body { font-family: Arial; background:#000; color:#fff; margin:0; }
nav { display:flex; justify-content:space-between; padding:10px; background:#111; }
.logo { height:40px; }
#nav-menu { display:none; list-style:none; }
